extends layout

block content
  div(class="container mt-4")
    div(class="row mb-4")
      if(user)
        div(class="col mb-4")
          a(href="/polls/new", class="btn btn-success btn-sm") Nueva Encuesta
      if(success && success.length > 0)
        div(class="col-12 col-lg-4")
          div(class="alert alert-success alert-dismissible fade show", role="alert")= success
            button(type="button", class="close", data-dismiss="alert", aria-label="Close")
              span(aria-hidden="true") &times;
    
    div(class="row")
      each poll in polls
        div(class="col-12 col-sm-6 col-lg-4 mb-4")
          div(class="card")
            div(class="card-body")
              if(user == poll.user)
                div(class="row justify-content-end")
                  div(class="col-4")
                    form(action="/polls/"+poll._id+"?_method=DELETE", method="POST")
                      input(type="submit", value="Eliminar", onclick="return confirm('Esta seguro de  eliminar esta encuesta?')", class="btn btn-link")
              h3(class="card-title")
                strong= poll.title
              h6(class="card-subtitle mb-2 text-muted") Creada por jhon ortega
              br
              p(class="card-text")= poll.description
              hr
              div(class="row")
                div(class="col text-center")
                  a(href="#" class="card-link text-muted") 7 votos
                div(class="col text-center")
                  a(href="/polls/"+poll._id, class="card-link") Votar
  
              