<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://kit.fontawesome.com/555b2f4f79.js" crossorigin="anonymous")
    link(rel="stylesheet", href="/assets/stylesheets/bootstrap.min.css")
    title Encuestas.com
  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      div(class="container")
        a(class="navbar-brand" href="/") Encuestas.com
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav ml-auto")
            li(class="nav-item active mr-4")
              a(class="nav-link" href="login") Login
                span(class="sr-only") (current)
            li(class="nav-item")
              a(class="nav-link btn btn-outline-info" href="/register") Register

    block content

  script(src="/assets/jquery-3.5.1.min.js")
  script(src="/assets/bootstrap.min.js")