extends layout

block content
  include mixins
  div(class="container mt-4")
    div(class="row justify-content-center")
      div(class="col-10 col-md-6 col-lg-5 card pt-2 pb-2")
        form(action="/polls", method="post")
          div(class="form-group")
            label(for="title")
              strong Titulo
            input(type="text", class=errors && errors.title ? "form-control is-invalid" : "form-control", id="title", name="title", placeholder="Ingrese el titulo de la encuesta")
            +error(errors, "title")
          div(class="form-group")
            label(for="description")
              strong Descripcion
            textarea(name="description", cols="30", rows="5", id="description", class=errors && errors.description ? "form-control is-invalid" : "form-control", placeholder="Ingrese una descripcion de la encuesta")
            +error(errors, "description")
          div(class="form-group")
            label(for="options")
              strong Opciones
          div(class="form-group")
            input(type="text", class=errors && errors.option1 ? "form-control is-invalid" : "form-control", id="option1", name="option1", placeholder="Opcion 1")
            +error(errors, "option1")
          div(class="form-group")
            input(type="text", class=errors && errors.option2 ? "form-control is-invalid" : "form-control", id="option2", name="option2", placeholder="Opcion 2")
            +error(errors, "option2")
          div(class="form-group", id="addoption3")
          div(class="form-group text-center")
            input(type="button", value="Agregar opcion", class="btn btn-primary", id="add_field")
          div(class="row")
            div(class="col-auto mr-auto")
              a(href="/", class="btn btn-link") Cancelar
            div(class="col-auto")
              button(type="submit", class="btn btn-success") Crear