extends layout

block content
  div(class="container mt-4")
    div(class="row justify-content-center")
      div(class="col-5")
        form(action="/polls", method="post")
          div(class="form-group")
            label(for="title") Titulo
            input(type="text", class="form-control", id="title", name="title", placeholder="Ingrese el titulo de la encuesta")
          div(class="form-group")
            label(for="description") Descripcion
            textarea(name="description", cols="30", rows="5", id="description", class="form-control", placeholder="Ingrese una descripcion de la encuesta")
          div(class="form-group")
            label(for="options") Opciones
          div(class="form-group")
            input(type="text", class="form-control", id="option1", name="option1", placeholder="Opcion 1")
          div(class="form-group")
            input(type="text", class="form-control", id="option2", name="option2", placeholder="Opcion 2")
          div(class="form-group")
            input(type="text", class="form-control", id="option3", name="option3", placeholder="Opcion 3")
          div(class="row")
            div(class="col-auto mr-auto")
              button(class="btn btn-link") Cancelar
            div(class="col-auto")
              button(type="submit", class="btn btn-success") Crear
